Package: boost-unordered
Version: 1.73.0
Depends: boost-assert, boost-compatibility, boost-config, boost-container, boost-container-hash, boost-core, boost-detail, boost-functional, boost-move, boost-predef, boost-preprocessor, boost-smart-ptr, boost-throw-exception, boost-tuple, boost-type-traits, boost-utility, boost-vcpkg-helpers
Architecture: x86-windows
Multi-Arch: same
Abi: 701298cc2fb37df2be4cd5fdf24d8b15601fbb46
Description: Boost unordered module
Type: Port
