Package: boost-smart-ptr
Version: 1.73.0
Depends: boost-assert, boost-config, boost-core, boost-integer, boost-move, boost-static-assert, boost-throw-exception, boost-type-traits, boost-vcpkg-helpers
Architecture: x86-windows
Multi-Arch: same
Abi: b20421db227679ef7a1c3ceb15022db37eb9f2a9
Description: Boost smart_ptr module
Type: Port
