Package: boost-optional
Version: 1.73.0
Depends: boost-assert, boost-config, boost-core, boost-detail, boost-move, boost-predef, boost-static-assert, boost-throw-exception, boost-type-traits, boost-utility, boost-vcpkg-helpers
Architecture: x86-windows
Multi-Arch: same
Abi: cb3c520a8f4bce67d46ce9e19545d1d1d4e99d4b
Description: Boost optional module
Type: Port
